*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --size: 1rem;
  --color: #e5e5e5;
  --grid-size: 25rem;
  --background: #3c3c3c;
}

body{
  background: var(--background);
  height: 100vh;
  overflow: hidden;
}

.logo{
  position: relative;
  width: var(--size);
  height: var(--size);
  left: calc(50% - var(--grid-size)/2);
  top: calc(50% - var(--grid-size)/2);
  filter: drop-shadow(4px 4px 12px black);
  box-shadow: calc(var(--size) * 9) calc(var(--size) * 0) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 0) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 0) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 0) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 0) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 0) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 0) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 1) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 1) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 1) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 1) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 2) var(--color),
  calc(var(--size) * 18) calc(var(--size) * 2) var(--color),
  calc(var(--size) * 4) calc(var(--size) * 3) var(--color),
  calc(var(--size) * 5) calc(var(--size) * 3) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 3) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 3) var(--color),
  calc(var(--size) * 19) calc(var(--size) * 3) var(--color),
  calc(var(--size) * 20) calc(var(--size) * 3) var(--color),
  calc(var(--size) * 4) calc(var(--size) * 4) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 4) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 4) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 4) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 4) var(--color),
  calc(var(--size) * 20) calc(var(--size) * 4) var(--color),
  calc(var(--size) * 3) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 18) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 21) calc(var(--size) * 5) var(--color),
  calc(var(--size) * 2) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 18) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 22) calc(var(--size) * 6) var(--color),
  calc(var(--size) * 2) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 18) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 22) calc(var(--size) * 7) var(--color),
  calc(var(--size) * 1) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 5) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 18) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 19) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 23) calc(var(--size) * 8) var(--color),
  calc(var(--size) * 1) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 5) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 18) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 19) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 23) calc(var(--size) * 9) var(--color),
  calc(var(--size) * 1) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 5) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 18) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 19) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 23) calc(var(--size) * 10) var(--color),
  calc(var(--size) * 1) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 18) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 23) calc(var(--size) * 11) var(--color),
  calc(var(--size) * 1) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 23) calc(var(--size) * 12) var(--color),
  calc(var(--size) * 1) calc(var(--size) * 13) var(--color),
  calc(var(--size) * 3) calc(var(--size) * 13) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 13) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 13) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 13) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 13) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 13) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 13) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 13) var(--color),
  calc(var(--size) * 23) calc(var(--size) * 13) var(--color),
  calc(var(--size) * 1) calc(var(--size) * 14) var(--color),
  calc(var(--size) * 4) calc(var(--size) * 14) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 14) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 14) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 14) var(--color),
  calc(var(--size) * 23) calc(var(--size) * 14) var(--color),
  calc(var(--size) * 2) calc(var(--size) * 15) var(--color),
  calc(var(--size) * 4) calc(var(--size) * 15) var(--color),
  calc(var(--size) * 5) calc(var(--size) * 15) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 15) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 15) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 15) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 15) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 15) var(--color),
  calc(var(--size) * 22) calc(var(--size) * 15) var(--color),
  calc(var(--size) * 2) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 5) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 22) calc(var(--size) * 16) var(--color),
  calc(var(--size) * 3) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 21) calc(var(--size) * 17) var(--color),
  calc(var(--size) * 4) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 20) calc(var(--size) * 18) var(--color),
  calc(var(--size) * 4) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 5) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 19) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 20) calc(var(--size) * 19) var(--color),
  calc(var(--size) * 6) calc(var(--size) * 20) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 20) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 20) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 20) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 20) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 20) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 20) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 20) var(--color),
  calc(var(--size) * 18) calc(var(--size) * 20) var(--color),
  calc(var(--size) * 7) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 8) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 16) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 17) calc(var(--size) * 21) var(--color),
  calc(var(--size) * 9) calc(var(--size) * 22) var(--color),
  calc(var(--size) * 10) calc(var(--size) * 22) var(--color),
  calc(var(--size) * 11) calc(var(--size) * 22) var(--color),
  calc(var(--size) * 12) calc(var(--size) * 22) var(--color),
  calc(var(--size) * 13) calc(var(--size) * 22) var(--color),
  calc(var(--size) * 14) calc(var(--size) * 22) var(--color),
  calc(var(--size) * 15) calc(var(--size) * 22) var(--color);
}