*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container{
  position: relative;
  background: #141414;
  width: 320px;
  height: 320px;
  border: 15px solid #e5e5e5;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(-10deg);
}

.circle{
  position: absolute;
  border-radius: 50%;
  background: #e5e5e5;
  width: 140px;
  height: 140px;
}

.circle-1{
  top: 0%;
  left: 50%;
  transform: translate(-50%, 8%);
}

.circle-2{
  bottom: 15%;
  left: 5.5%;
}
.circle-3{
  bottom: 15%;
  right: 5.5%;
}

.inner{
  position: absolute;
  background: #141414;
  width: 130px;
  height: 130px;
  border-radius: 50%;
}

.inner-1{
  left: 31%;
  top: 3%;
}

.inner-2{
  left: 3%;
  bottom: 16.5%;
}

.inner-2::before{
  content: "";
  position: absolute;
  background: inherit;
  width: 40px;
  height: 40px;
  transform: translate(78%, -50%) rotate(-30deg);
}

.inner-3{
  right: 6.5%;
  bottom: 10.5%;
}

.back{
  background: #e5e5e5;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%);
}
.shadow{
  background: radial-gradient(#0000007f 0%, transparent 50%);
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  z-index: 1;
  position: absolute;
  transform: translate(-50%, -50%);
}

.container:hover{
  animation: spin 1.5s alternate;
}

@keyframes spin {
  0% { transform: rotateZ(-10deg)}
  50% { transform: rotateZ(350deg);}
}